 
        <center>
<div class="profile1 " style="margin: 0px auto;">
	
	<div id="e" class="micropost"style="width: 500px;margin: 0px auto;>
<table class="profile microposts" summary="Profile information" style="width: 500px;margin: 0px auto;">
  <tr>
    <td class="micropost" style="width: 500px;margin: 0px auto; float: right;">


<%= form_for(:session, url: sessions_path) do |f| %>
  <div class="field"style="width: 500px;margin: 0px auto;">
    <%= f.label :email ,"الايميل",:class=>"btn btn-large btn-primary" %><br />
    <%= f.text_field :email ,:class=>"text1"%>
  </div>
  <div class="field"style="width: 500px;margin: 0px auto;">
    <%= f.label :password ,"الباسورد",:class=>"btn btn-large btn-primary" %><br />
    <%= f.password_field :password ,:class=>"text1"%>
  </div>
  <div class="actions"style="width: 500px;margin: 0px auto;">
    <%= f.submit "دخــــــــول",:class=>"btn btn-large btn-primary" %>
  </div>
<% end %>

<p class="microposts">عضو جديد ؟ <%= link_to "سجل الآن ", signup_path %></p>


    </td>
</table>
</div></div>
