
<center>
   <div class="holder_content1">
		<section>
  <%= image_tag("two.png", :size => "700",:class=>"c")%>
	</section>
		</div>
		
   <div class="holder_content">
   
   <section class="group1">
   <h3>للفـئات التجارية </h3>
   
      	<p>   <%= link_to "اولها : التدوير على اجهزتهم بفترات " ,services_7_path%>
      		      	<p>   <%= link_to "ثانيها :عمل مواقع تخدمهـم " ,services_8_path%>
      		      	<p>   <%= link_to "ثـالثها :عمل شبكات لاسلكية  " ,services_9_path%>

      	<p>   رابعها : عمل اجهزة سيرفر ؟قريبا؟
   </p>
	</section>
	

     
   <section class="group2">
   <h3>لأفراد المجتمع </h3>
   
      	<p>   <%= link_to "اولها :وضع السيرة الذاتيه في موقع " ,services_5_path%>
   
      	<p>   <%= link_to "ثانيها : اصلاح حواسيبهم في منزلهم " ,services_6_path%>
   
      	<p>   <%= link_to "ثـالثها : عروض آخر الاجهزة " ,sounds_path%>
   
      	<p>   رابعها : عمل البحوث والمشاريع ؟قريبا؟
	</section>

       
   <section class="group3">
   <h3> الربح مع الله تعالى</h3>
      	<p>   <%= link_to "اولها :نشر المؤسسة بأعلى المواقع" ,services_1_path%>

      	<p>   <%= link_to "ثانيها : عمل موقع للمؤسسة" ,services_2_path%>

      	<p>   <%= link_to "ثـالثها : الصدقه الجارية للافراد" ,services_3_path%>

      	<p>   <%= link_to "رابعها : أسعـار خاصة على  اصلاح الاجهزة" ,services_4_path%>


	</section>

   </div>

   <!--end holder-->
</center>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />