<table class="profile">
  <tr>
   
    <td class="sidebar1 round">
     <strong>  </strong>
     
    </td>
  </tr>
</table><br /><br />
<center>
<%= form_for  @sound,:html => { :multipart => true } do |f| %>
  <div class="field">
    <%= f.label :name, "اسم الشريط" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content, "وصف الشريط" %><br />
    <%= f.text_area :content %>
  </div>
  <%= f.fields_for :asets do |aset_fields|%>
  <div class="field">
  	 <% if aset_fields.object.new_record?%>
  <%= aset_fields.file_field :image%>
  <% end %>
    <% end %>
  </div>
    <%= f.fields_for :asets do |a|%>
      <% unless a.object.new_record?%>

  <div class="field">
<%= link_to image_tag(a.object.image.path(:thumb)),a.object.image.path(:small)%>
<%= a.check_box :_destroy%>


  
  </div>
    <% end %> <% end %>
  <div class="actions">
    <%= f.submit "اضـافة" %>
  </div>
  <br />  <br />
<% end %>

<% if @sound.errors.any? %>
  <div id="error_explanation">
    
    <b>تاكد اخي العزيز من الاخطاء التالية</b>
    <ul>
   
      <li> فارغ، يرجى ملء احد الحقول -</li>
 
    </ul>
  </div>
<% end %>
