 
 <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><p class="o1">أهلاً بك اخي العزيز تمت العملية  بنجاح</p> </div>
        <% end %>
        <center>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
         </td>
 
    </tr>
  </table>
        <table class="profile">
  <tr>
    <td class="main"> <% if signed_in? %><% if admin_check? %>
  <%= link_to "اضافة صوت",new_studioname_studio_path(@sound)%><% end %> <% end %>
    
    </td>
    <td class="sidebar round" style="width: 140%;">
      <%= @sound.name %><strong> : الاسم</strong> <br />
  
    </td>
      	
  </tr>
</table>
<br />
<br />
<br />

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
                
        <table class="microposts" summary="User microposts">  <% @sound1.each do |sound| %>

        	<tr>
       
   
  <td class="micropost">
<span class="content"><h5><%= sound.name %></h5></span> 
    	
    	<br />
<span class="content">   <% if signed_in? %><% if admin_check? %>
    | <%= link_to "delete", [@sound,sound], method: :delete, 
                                  confirm: "You sure?" %>
                                  <% if admin_check?  %>
                                    | <%= link_to "Edit", edit_sound_list_path(@sound,sound), 
                                  confirm: "You sure?" %>
  <% end %> <% end %>
  <% end %></span> 
  </td>
  </td><% end %>
  </tr> 
   <%= will_paginate @sound1 %>
        </table>               
    </td>
  </tr>
 </table>