<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag    "custom1", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  
  <body>
  	      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= render 'layouts/header' %>
    <div id="back" class="container">
    	<header id="x" class="navbar" >
    <div class="container">
            <span class="nav pull-right">
<h3 id="logo1">القــائم</h3>
</span>	
      <nav>
        <ul class="nav pull-left">
         <li><%= link_to "الرئيسية", 	root_path %></li>
	<li><%= link_to "الصوتيـات", 	sounds_path %></li>
		<li><%= link_to "البــوم الصور", 	studionames_path %></li>

  <% if signed_in? %>
  <% if admin_check?   %>
  <li><%= link_to "حكم اهل البيت", 	hekoms_path %></li>
	<li><%= link_to "الاعضـاء", 	users_path %></li>
	<li><%= link_to "رسـائل الاعضاء" , 	admin_user_microposts_path(current_user) %></li>
		<% end %>
        <li><%= link_to "الملف الشخصي", current_user %></li>
      <% end %>
      <% if signed_in? %>
       <li><%= link_to "ارسل رسالة ", new_user_micropost_path(current_user) if !admin_check?%></li>
       <li><%= link_to "رسائلي ", user_microposts_path(current_user) if !admin_check?%></li>
        <li><%= link_to "تسجيل الخروج", signout_path, method: :delete , confirm: "You sure?"%></li>
        
      <% else %>
        <li><%= link_to "تسجيل الدخول", signin_path %></li>
      <% end %>
</ul>
      </nav>
              <span class="nav pull-right">

</span>
</header>


      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) %>
    </div>
  </body>
</html>