<!DOCTYPE html>
<html>
  <head>
    <title>القائم لخدمات الحاسوب</title>
    <%= stylesheet_link_tag    "custom1", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  
  <body>
  	    
    <%= render 'layouts/header' %>
    <div id="back" class="container">
    	<header id="x" class="navbar" >
    <div class="container">
            <span class="nav pull-right">
<h3 id="logo1">القــائم</h3>
</span>	
      <nav>
        <ul class="nav pull-left  o">
         
           	<li><%= link_to "من نحن", 	aboutus_path %></li>
     
      <% if signed_in? %>
      
        <li><%= link_to "تسجيل الخروج", signout_path, method: :delete , confirm: "هل انت متأكـد ؟"%></li>
       <li><%= link_to "رسائلي ", user_microposts_path(current_user) if !admin_check?%></li>
        
      <% else %>
        <li><%= link_to "تسجيل الدخول", signin_path %></li>
      <% end %>
            <% if signed_in? %>

       <% if admin_check?   %>
  
	<li><%= link_to "الاعضـاء", 	users_path %></li>
	<li><%= link_to "رسـائل الاعضاء" , 	admin_user_microposts_path(current_user) %></li>
		<% end %>
		 <% end %>
	<li><%= link_to "عروض الاجهزة", 	sounds_path %></li>
	<li><%= link_to "خدماتـنا", 	services_path %></li>
         <li><%= link_to "الرئيسية", 	root_path %></li>
</ul>
      </nav>
              <span class="nav pull-right">

</span>
</header>

  <% flash.each do |key, value| %>
 <%if :error ==  key %>

        <div class="alert alert-<%= key %>" style="margin:0px auto ;text-align: center;opacity: 0.2; ">
      	 لم تتم المدخولات بلطريقة المستوجبة لدخول حاول مرة اخرى
<%end%>
<% if :success == key %>
<div class="alert alert-<%= key %>" style="margin:0px auto ;text-align: center;opacity: 0.2; ">
	تمت المعلومات بنجاح
<%end%>
<% if :notice == key %>
<div class="alert alert-<%= key %>" style="margin:0px auto ;text-align: center;opacity: 0.2; ">
لايسمح تخطي المنطقه يرجى الدخول
<%end%>
</div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
     
    </div>
  </body>
</html>